@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 5vw 1vw 5vw;
}

.nav-menu li {
    display: inline-block;
    margin: 20px;
    line-height: 48px;
}

.logo-position img {
    margin-left: 10px;
}

#login {
    border: 2px solid #fff;
    border-radius: 25px;
    text-align: center;
    line-height: 40px;
    background-color: rgb(255, 255, 255, 0.6);
    color: #fff;
    width: 218px;
}

#login:hover {
    border: 2px solid #fc0441;
    color: #fc0441
}

#sign-in {
    border: 2px solid #fc0441;
    border-radius: 25px;
    text-align: center;
    line-height: 40px;
    background-color: #fc0441;
    color: #fff;
    width: 218px;
}

#sign-in:hover {
    border: 2px solid #fc0441;
    background-color: #fff;
    color: #fc0441;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.5px;
}

.nav-menu a:hover {
    color: #fc0441;
    transition: 0.3s;
}

.logo-position {
    margin-left: 50px;
    cursor: pointer;
} 

.container {
    background: url("../images/bgchicken.svg" );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-text {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin-top: 100px;
    padding: 30px;
}

.container-text h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 140px;
    color: #fff;
}

@media only screen and (max-width: 425px) {
    .container-text h1 {
        font-size: 0.9rem;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .container-text h1 {
        font-size: 6rem;
    }
}

.container-text p {
    font-weight: 400;
    font-size: 25px;
    color: #fff;
    letter-spacing: 5px;
}

@media only screen and (max-width: 768px) {
    .container-text p {
        font-size: 1.2rem;
    }

}

@media only screen and (max-width: 425px){
    .container-text p {
        text-align: center;
    }
}

.container-text button {
    margin-top: 150px;
    border: 4px solid #fff;
    border-radius: 25px;
    background-color: rgb(255, 255, 255, 0.3);
    font-size: 15px;
    color: #fff;
    width: 400px;
    height: 50px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .container-text button {
        width: 250px;
    }
}

.container-text img {
    margin-top: 200px;
    width: 45px;
    cursor: pointer;
}

/*animate arrow*/

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


/*ENCERRAMENTO DO MAIN*/

.second-part {
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: #fff;
}

.second-part-text {
    text-align: center;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-part-text h2 {
    font-size: 48px;
    font-style: bold;
    font-weight: 700;
}

.second-part-text p {
    margin-top: 24px;
    font-size: 16px;
    font-style: bold;
    font-weight: 400;
}

.product-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 95px;
    width: 100vw;
}

.product-images img {
    padding: 10px;
}

.chicken-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chicken-images p {
    margin-top: 5px;
    font-weight: 700;
}

.chicken-images span {
    margin-top: 2px;
    font-weight: 400;
}

.second-part button {
    width: 256px;
    height: 48px;
    margin: 100px 0 100px 0;
    background-color: #fc0441;
    border: 2px solid #fc0441;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.second-part button:hover {
    background-color: #fff;
    border: 2px solid #fc0441;
    color: #fc0441;
}


/*THIRD PART*/

.third-part {
    background-color: #fff;
}


.intro-services {
    background: linear-gradient(114deg, rgba(199, 25, 25, 1) 0%, rgba(252, 4, 65, 1) 100%);
    padding: 50px;
    width: 100vw;
}

.intro-services h3 {
    font-size: 2rem;
    text-align: center;
    color: #fff;
}

.service-structure {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.service-structure-txt {
    width: 400px;
    margin: 100px 80px 0 0;
}

@media only screen and (max-width: 1024px) {
    .service-structure-txt {
        margin-right: 25px;
    }
}

.service-structure-txt h2{
    margin-bottom: 20px;
    font-size: 48px;
}

.service-structure-txt p{
    line-height: 1.4rem;
    text-align: justify;
}

.food-images {
    padding: 5px;
    margin-top: 100px;
}

.food-up{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.food-up img {
    width: 50%;
}

.food-imagebottom img{
    width: 100%;
}

.area-map {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.last-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;

}

.last-section img {
    width: 400px;
    cursor: pointer;
}

@media only screen and (max-width: 425px) {
    .last-section img {
       width: 300px;
    }
}

.socials {
    width: 250px;
    height: 5vh;
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

.socials img {
    cursor: pointer;
    width: 40px;
}



footer {
    width: 100vw;
    height: 5vh;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center
}

.text-footer span:first-child {
    margin-right: 107px;
}

@media only screen and (max-width: 425px) {

    footer{
        height: 10vh;
    }
    
    .text-footer span:first-child {
        margin-right: 20px;
    }
}